.bluebutton--active {
  box-shadow: inset -6px -6px 10px #2a2a2a;
  -webkit-box-shadow: inset -6px -6px 10px #2a2a2a;
  background-color: #89c9ff !important;
}

.greenbutton--active {
  box-shadow: inset 6px 6px 10px #2a2a2a;
  -webkit-box-shadow: inset 6px 6px 10px #2a2a2a;
  background-color: #89ff94 !important;
}

.redbutton--active {
  box-shadow: inset -6px 6px 10px #2a2a2a;
  -webkit-box-shadow: inset -6px 6px 10px #2a2a2a;
  background-color: #ed8782 !important;
}

.yellowbutton--active {
  box-shadow: inset 6px -6px 10px #2a2a2a;
  -webkit-box-shadow: inset 6px -6px 10px #2a2a2a;
  background-color: #fbff89 !important;
}
